.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* border: 5px solid black; */
    
  }
  
  html, body {
    margin: 0;
    padding: 0;

  }
  /* 

BLUE COLOR #:  rgba(2,45,61,255)

YELLOW COLOR #: rgba(254,209,65,255)

*/
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }


.flex {                     /*utility class for flex*/
    display: flex;

    .align-center {
        margin: auto;
        align-self: center;
    }

    .align-left {
        margin-right: auto;
        align-self: center;
    }

    .align-right {
        margin-left: auto;
        align-self: center;
    }

    .align-x-center {
        margin-right: auto;
        margin-left: auto;
    }

    .align-x-left {
        margin-right: auto;
    }

    .align-x-right {
        margin-left: auto;
    }

    .align-y-top {
        align-self: flex-start;
    }

    .align-y-center {
        align-self: center;
    }

    .align-y-bottom {
        align-self: flex-end;
    }
}

/*---- header style starts here  ----*/
.headerBackground{
  background-color: rgba(2,45,61,255);
  margin: 0;
  padding: 0;
  width: 100%;
}

.bord1 {
    border: 3px solid red;
    width: 20%;
    display: flex;
    align-items: end;
    text-align: start;
    justify-content: center;
}

#icon1{
  border: 3px solid blue;
  width: 70%;
}

.bord2 {
  /* border: 3px solid red; */
  width: 35%;
  align-self: center;
}

#srot_text{
  width: 100%;
  
}

.bord3 {
  /* border: 3px solid red; */
  width: 30%;
  color: rgba(254,209,65,255);
  font-size: 1.2vw;
}

#login_text {
  font-size: 1vw;
  display: flex;
  align-self: flex-end;
  background-color: rgba(254,209,65,255);
  border-radius: 5%;
  width: auto;
  padding-left: 1%;
  padding-right: 1%;
  
  
}



#login_text a { 
  color: rgba(2,45,61,255);
  text-decoration: none;
}

#headerListForm {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 5vw;
    /* border: 3px solid yellow; */
    padding: 0;
    margin: 0;
}
/*---- header style ends here ----*/


/*---- navigation bar style starts here ----*/
.navBackground{
  background-color: rgba(254,209,65,255);
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 5px solid gray;
}

.navBackground ul {

  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  
}

.navBackground li {
  margin: 10px;
}

.navBackground a {
  text-decoration: none;
  font-size: 1vw;
}

/*---- navigation bar style ends here ----*/

/*----  intro style starts here ----*/

.intro {
  background-image: url(SROT_photos2/company_van2.png);
  width: 100%;
  height: 600px;
  background-size: 120vw;
  background-position: right;
  display: flex; 
  justify-content: right; 
  align-items: center;
}

#description1 {
  display: flex;
  margin-right: 10%;
  height: auto;
  width: 20%;
  border: 8px solid rgb(238, 236, 236);
  z-index: 1;
  background-color: rgb(212, 207, 207);
  color: rgba(2,45,61,255);
  border-radius: 10%;
}

#description1 h2{
display: flex;
text-align: center;
}

#description1 ul{
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
} 

#descLinks {
  display: flex;
  justify-content: center;
  gap: 20%;
}

#link1 {
  border: 3px solid rgba(2,45,61,255);
  padding: 3%;
  border-radius: 10%;
  font-weight: 700;
  background-color: rgb(175, 174, 174);
  margin-top: 4%;
}

#link1 a {
text-decoration: none;
color: rgba(2,45,61,255);
}

#link2 {
  border: 3px solid rgba(2,45,61,255);
  padding: 3%;
  border-radius: 10%;
  font-weight: 700;
  background-color: rgba(2,45,61,255);
  margin-top: 4%;
}

#link2 a {
text-decoration: none;
color: rgba(254,209,65,255);
}

/*----  intro style ends here ----*/

/*----  3 columns style starts here ----*/

.threeColumns {
  width: 100%;
  height: 500px;
  margin-top: 200px;
  /* border: 3px solid red; */
}

#columnWidth{
  /* border: 3px solid blue; */
  list-style: none;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  height: 100%;
  align-items: end;
}

#column1 {
  /* border: 3px solid yellow; */
  text-align: center;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#column1 ul{
  list-style: none;
  /* border: 3px solid red; */
  padding: 0;
}

#outerSeatbelt {
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}

#seatbelt{  
  max-width: 24.5%;
}

#column2 {
  /* border: 3px solid yellow;  */
  text-align: center;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#column2 ul{
  list-style: none;
  padding: 0;
  /* border: 3px solid red; */

}

#outerClock {
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}

#clock {
  max-width: 20%;
}

#column3 {
  /* border: 3px solid yellow; */
  text-align: center;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#column3 ul{
  list-style: none;
  padding: 0;
  /* border: 3px solid red; */

}

#outerHand{
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}

#handHeart {
  max-width: 20%;
}


body p {
  font-size: 1.1vw;

}
/*----  3 columns style ends here ----*/

/*----  footerContainer style starts here ----*/

.footerContainer {
  /* background-color: rgba(2,45,61,255); */
  height: 300px;
  border: 3px solid black;
}

#outerContainer{
  display: flex;
  padding: 0;
  margin: 0;
  width: 80%;
  /* border: 3px solid black; */
  height: 100%;
}

#leftSide {
  width: 40%;
  list-style: none;
  
  /* border: 3px solid yellow; */
}
#leftSide ul{
  list-style: none;
  /* border: 3px solid yellow; */
  padding: 0;
  margin: 0;
  height: 100%;
}

#outerText {
  /* border: 3px solid red; */
  height: 50%;
}

#outerText img {
  width: 50%;
  /* border: 3px solid red; */
}

#outerSocials{
  /* border: 3px solid blue; */
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
}

#outerSocials p {
  /* border: 3px solid red; */
  position: relative;
  top: 20px;
  font-size: 1.4vw;
}

#rightSide {
  width: 60%;
  list-style: none;
  background-color: yellow;
}

#rightSide ul{
  display: flex;
  border: 3px solid red;
  justify-content: center;
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
}

#opportunity {
  border: 3px solid blue;
  padding-right: 10%;
}

#account {
  border: 3px solid blue;
  padding-left: 10%;
  padding-right: 10%;
}

#customer {
  border: 3px solid blue;
  padding-left: 10%;
}














/*----  footerContainer style ends here ----*/


/* border: 3px solid yellow; */